## Paths on compute hosts##
[PATHS]
exe_path        = /opt/tacc_stats
stats_dir       = /var/log/tacc_stats
stats_lock      = /var/lock/tacc_stats_lock
jobid_file      = /var/run/JOBID
tacc_stats_home = /home/rtevans
acct_path       = /hpc/tacc_stats_site/stampede/accounting/tacc_jobs_completed
host_list_dir   = /hpc/tacc_stats_site/stampede/hostfile_logs
batch_system    = SLURM
host_name_ext   = stampede.tacc.utexas.edu
pickles_dir     = /hpc/tacc_stats_site/stampede/pickles/
lariat_path     = /hpc/tacc_stats/stampede/lariatData/

## Platform specific Schema items. ##
## Chips type and infiniband may need to be
## changed for different systems ##
########################
## Chip types
# Each chip will need a different counter routine
# for non-architectural events.
# If chip or device is absent it will be skipped
# at run time.
[TYPES]
amd64_pmc        = True
intel_nhm        = True
intel_wtm        = True 
intel_uncore     = True
intel_snb        = True
intel_snb_cbo    = True
intel_snb_pcu    = True
intel_snb_imc    = True
intel_snb_qpi    = True
intel_snb_hau    = True
intel_snb_r2pci  = True
ib               = True
ib_sw            = True
ib_ext           = True
llite            = True
lnet             = True
mdc              = True
osc              = True
block            = True
cpu              = True
mem              = True
net              = True
nfs              = True
numa             = True
ps               = True
sysv_shm         = True
tmpfs            = True
vfs              = True
vm               = True
