dist/
rabbitmq-c/
tacc_stats.egg-info/
*.pyc
*.o
*.sh
*.so
*.d
.project
.pydevproject
stats.x
bin/
lib/
build/
doc/
*.db
*master.png
*master.pdf
*~
.DS_Store
sys_path_append.py
analyze_conf.py
*.out.*
*.err.*
analysis/*.sh
tacc_stats/version.py
tacc_stats/cfg.py
*egg*
#*
tacc_stats/taccstats
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/ltmain.sh
/texinfo.tex
tacc_stats/pickler/*lock