include tacc_stats/src/monitor/*.h
recursive-include tacc_stats/site/stampede/templates *
recursive-include tacc_stats/site/lonestar/templates *
include tacc_stats/src/monitor/*.sh.in
include tacc_stats/*/*.sh.in