uwsgi
Cheetah
Django==1.6.5
IPy
Markdown
Pillow==2.0.0
PyYAML
Pygments
South==1.0
Werkzeug
boto
chardet
configobj
decorator
django-extensions
django-filter
django-oauth2-provider
django-pdb
djangorestframework==2.4.3
django-rest-swagger
drf-extensions
iniparse
jsonpatch
jsonpickle
jsonpointer
matplotlib
nose
numpy
prettytable
psycopg2
pycrypto
pycurl
pygpgme
pyliblzma
pyparsing
python-dateutil
python-memcached
pytz
pyudev
pyxattr
requests
scipy
six
urllib3
wsgiref
