ST_OBJS_$(CONFIG_ST_AMD64_PMC) += st_amd64_pmc.o
ST_FLAGS_$(CONFIG_ST_AMD64_PMC) += -DCONFIG_ST_AMD64_PMC=1
ST_OBJS_$(CONFIG_ST_BLOCK) += st_block.o
ST_FLAGS_$(CONFIG_ST_BLOCK) += -DCONFIG_ST_BLOCK=1
ST_OBJS_$(CONFIG_ST_CPU) += st_cpu.o
ST_FLAGS_$(CONFIG_ST_CPU) += -DCONFIG_ST_CPU=1
ST_OBJS_$(CONFIG_ST_FS) += st_fs.o
ST_FLAGS_$(CONFIG_ST_FS) += -DCONFIG_ST_FS=1
ST_OBJS_$(CONFIG_ST_IB) += st_ib.o
ST_FLAGS_$(CONFIG_ST_IB) += -DCONFIG_ST_IB=1
ST_OBJS_$(CONFIG_ST_IB_EXT) += st_ib_ext.o
ST_FLAGS_$(CONFIG_ST_IB_EXT) += -DCONFIG_ST_IB_EXT=1
ST_OBJS_$(CONFIG_ST_INTEL_PMC3) += st_intel_pmc3.o
ST_FLAGS_$(CONFIG_ST_INTEL_PMC3) += -DCONFIG_ST_INTEL_PMC3=1
ST_OBJS_$(CONFIG_ST_INTEL_UNCORE) += st_intel_uncore.o
ST_FLAGS_$(CONFIG_ST_INTEL_UNCORE) += -DCONFIG_ST_INTEL_UNCORE=1
ST_OBJS_$(CONFIG_ST_LUSTRE) += st_lustre.o
ST_FLAGS_$(CONFIG_ST_LUSTRE) += -DCONFIG_ST_LUSTRE=1
ST_OBJS_$(CONFIG_ST_MEM) += st_mem.o
ST_FLAGS_$(CONFIG_ST_MEM) += -DCONFIG_ST_MEM=1
ST_OBJS_$(CONFIG_ST_NET) += st_net.o
ST_FLAGS_$(CONFIG_ST_NET) += -DCONFIG_ST_NET=1
ST_OBJS_$(CONFIG_ST_PS) += st_ps.o
ST_FLAGS_$(CONFIG_ST_PS) += -DCONFIG_ST_PS=1
ST_OBJS_$(CONFIG_ST_VM) += st_vm.o
ST_FLAGS_$(CONFIG_ST_VM) += -DCONFIG_ST_VM=1
