{% extends "tacc_stats_site/base.html" %}
{% block content %}

<h4>{{ name }}</h4>
<img src="{{ histograms }}" style="max-width:100%;"/>

<hr>


<h4>Flagged Jobs:</h4>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#flagged">Click for Flagged Jobs</button>
<div id="flagged" class="collapse">
<div class="table-responsive">
  <table class="table table-condensed" style="max-width=100%;">
    {% if md_job_list %}

    <tr>
      <th>Top metadata request rates (B)</th>
    </tr>
    {% for key,values in md_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view' key %}"> {{ key }}</a> </td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job' v %}">{{ v }}</a>({{ d|stringformat:"0.1f" }})</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}

    {% if gigebw_job_list %}
    <tr>
      <th>GigE BW > {{ gigebw_thresh|stringformat:"0.3e" }} B</th>
    </tr>
    {% for key,values in gigebw_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view' key %}"> {{ key }}</a> </td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job' v %}">{{ v }}</a>({{ d|stringformat:"0.3e" }})</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    
    {% if mem_job_list %}
    <tr>
      <th>Memory HWM less than 30 GB on a Largemem</th>
    </tr>
    {% for key,values in mem_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view' key %}"> {{ key }}</a> </td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job' v %}">{{ v }}</a>({{ d }})</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    

    {% if idle_job_list %}
    <tr>
      <th>Idle Nodes Present</th>
    </tr>
    {% for key,values in idle_job_list.items %} 
    <tr>
      <td><a href="{% url 'machine:user_view'  key %}"> {{ key }}</a></td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job'  v %}">{{ v }}</a>({{ d }})</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    
    {% if cat_job_list %}
    <tr>
      <th>Sudden Performance Drop</th>
    </tr>
    {% for key,values in cat_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view'  key %}"> {{ key }}</a> </td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job'  v %}">{{ v }}</a>({{ d }})</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    
    {% if cpi_job_list %}
    <tr>
      <th>High CPI ({{cpi_thresh}}, %{{cpi_per|stringformat:"0.1f"}})</th>
    </tr>
    {% for key,values in cpi_job_list.items %} 
    <tr><td><a href="{% url 'machine:user_view' key %}">{{ key }}</a></td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job' v %}">{{ v }}</a>({{ d|stringformat:"0.1f" }})</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
  </table>
</div>
</div>

<h3># Jobs over 1 mn in run time = {{nj}}</h3>
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
	  <th> Job ID </th>
	  <th> user </th>	  
	  <th> project </th>
	  <th> executable </th>
	  <th> start time </th>
	  <th> end time </th>
	  <th> run time (s)</th>
	  <th> queue </th>
	  <th> name </th>
	  <th> status </th>
	  <th> wayness </th>
	  <th> cores </th>
	  <th>nodes</th>
	  <th> SUs </th>
	</tr>
      </thead>
      <tbody>
	{% for job in job_list %}
        <tr bgcolor="{{job.color}}">
          <td><a href="{% url 'machine:job'  job.id %}">{{ job.id }}</a>
          <td><a href="{% url 'machine:user_view' job.user %}" >{{ job.user }}</td> 
	  {% if job.project %}
          <td align=right><a href="{% url 'machine:project_view' job.project %}" >{{ job.project }}</td>
	  {% else %} <td align=right> None </td>
	  {% endif %}
          <td align=right><a href="{% url 'machine:exe_view' job.exe %}" >{{ job.exe }}</td>
          <td align=right>{{ job.start_time }}</td>
          <td align=right>{{ job.end_time }}</td>
          <td align=right>{{ job.run_time }}</td>
          <td align=right>{{ job.queue }}</td>
          <td align=right>{{ job.name }}</td>
          <td align=right>{{ job.status }}</td>
          <td align=right>{{ job.wayness }}</td>
          <td align=right>{{ job.cores }}</td>
          <td align=right>{{ job.nodes }}</td>
	  <td align=right>{{ job.sus|stringformat:".2f" }} </td>
        </tr>
	{% endfor %}
      <tbody> 
    </table>
{% endblock %}
