{% extends "tacc_stats_site/base.html" %}
{% block content %}

{% if job_data %}
<div>
  <h2>Job Detail</h2>
  <table class="table table-condensed table-bordered">
    <thead>
      <th>Job ID</th><th>user</th><th>project</th><th>start time</th><th>end time</th>
      <th>run time (s)</th><th>requested time (m)</th><th>queue</th><th>name</th><th>status</th><th>ncores</th><th>nnodes</th>
    </thead>
    <tbody>
      <tr bgcolor="{{job_data.color}}"><td><a href="{% url 'machine:job_data'  job_data.jid %}">{{ job_data.jid }}</a></td>
	
	{% if job_data.username %}
	<td><a href="{% url 'machine:username_view' job_data.username %}" >{{ job_data.username }}</td>
	{% else %}
	<td>Unknown</td>
	{% endif %}

	{% if job_data.account %}
	<td><a href="{% url 'machine:account_view' job_data.account %}">{{ job_data.account }}</td>
	{% else %}
	<td>None</td>
	{% endif %}

	<td align=right>{{ job_data.start_time }}</td>
	<td align=right>{{ job_data.end_time }}</td>
	<td align=right>{{ job_data.runtime }}</td>
	<td align=right>{{ job_data.timelimit }}</td>
	<td align=right>{{ job_data.queue }}</td>
	<td align=right>{{ job_data.jobname }}</td>
	<td align=right>{{ job_data.state }}</td>

	<td align=right>{{ job_data.ncores }}</td>
	<td align=right>{{ job_data.nhosts }}</td>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md-3">
    <table class="table table-condensed table-bordered" style="max-width:100%;">
      <thead><th>File System</th><th>MB Read</th><th>MB Written</th><thead>
	{% for key,val in fsio.items %}
	<tr align=left><td>{{ key }}</td><td>{{ val.0|stringformat:"0.1e" }}</td><td>{{ val.1|stringformat:"0.1e" }}</td></tr>
	{% endfor %}	
    </table>
  </div>

  <div class="col-md-3">
    <table class="table table-condensed" style="max-width:100%;">
    <tr><td>Executable Path</td><td>
      {% for item in xalt_data.exec_path %}
      {{ item }}<br>
      {% endfor %}
    </td></tr>
    <tr><td>Working Directory</td><td>
      {% for item in xalt_data.cwd %}
      {{ item }}<br>
      {% endfor %}
   </td></tr>

    </table>
  </div>
</div>

<div class="col-sm-20"><a href={{ client_url }}>Client Logs</a> <a href={{ server_url }}>Server Logs</a></div>

</br>

<p>
<div class="row">

  <div class="col-md-1">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#procs">
      Processes
    </button>
    <div id="procs" class="collapse">
      <table class="table table-condensed table-bordered">
	<tbody>
	  {% for proc in proc_list %} 
	  <tr><td><a href="{% url 'machine:proc_detail' job_data.id proc %}">{{proc}}</a></td></tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>

  <div class="col-md-3">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tests">
    Job-level Metrics
  </button>
    <div id="tests" class="collapse">
      <table class="table table-condensed table-bordered"><!--- style="max-width:100px;">--->
	<tbody>
	  {% for obj in job_data.metrics_data_set.all %}
	  <tr align=center><th>{{ obj.metric|ljust:"10" }}[{{ obj.units}}]</th><td>{{ obj.value|floatformat:"2" }}</td></tr>
	  {% endfor %}	
	</tbody>
      </table>
    </div>
  </div>
  
  <div class="col-md-3">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#libs">
    Modules and Libraries
  </button>
    <div id="libs" class="collapse">
      <table class="table table-condensed table-bordered" style="max-width:30%;">
	<thead><th>Module</th><th>Library</th></thead>
	<tbody>
	  {% for obj in xalt_data.libset %}
	  {% if obj.module_name != "none" %}
	  <tr><td align=left>{{ obj.module_name }}</td><td align=left>{{ obj.object_path }}</td></tr>
	  {% endif %}
	  {% if obj.module_name == "none" %}
	  <tr><td align=left>system</td><td align=left>{{ obj.object_path }}</td></tr>
	  {% endif %}
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>

  <div class="col-md-1">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#hosts">
    Hosts
  </button>
    <div id="hosts" class="collapse">
      <table class="table table-condensed table-bordered"><!--- style="max-width:100px;">--->
	<tbody>
	  {% for host in host_list %}
	  <tr align=center><td>{{ host }}</td></tr>
	  {% endfor %}	
	</tbody>
      </table>
    </div>
  </div>
</div>  


</br>

<hr>
<p><center>
<h3>Host-level Plots</h3>
<table>
  <tr>
    <td>
      {{ mscript|safe }}
      {{ mdiv|safe }}
    </td>

    <td>
      {{ hdiv|safe }}
      {{ hscript|safe }}
    </td>
  <tr>
</table>
</center></p>

<center>
<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#dev">
  Device Data and Plots
</button>
<div id="dev" class="collapse">
    <table class="table table-condensed table-bordered" style="margin-right:30px;width:100%;">
      <tr><th>Type Name</th><th>Recorded Performance Events</th></tr>
         {% for type_name, event in schema.items %}
            <tr><td><a href="{{ type_name }}/">{{ type_name }}</a></td><td style="text-align:left">{{ event }}</td></tr>
         {% endfor %}
    </table>
</div>
</center>

{% else %}
    <h1>Job not found</h1>
{% endif %}
<div><p>
<center>
     {{ script|safe }}
     {{ div|safe }}
</center>
</div>
</p>
{% endblock %}
