<html>
<head>
    <title>TACC: Job details</title>
</head>
<body>
{% if job %}
   <h2>Job Detail</h2>
<p>
 <table border="1" cellpadding="5" style="font-family:arial">
  <tr><th>Job ID</th><th>UID</th><th>user</th><th>project</th><th>executable</th><th>start time</th><th>end time</th>
      <th>run time (s)</th><th>requested time (s)</th><th>queue</th><th>name</th><th>status</th><th>wayness</th><th>cores</th><th>nodes</th><th>threads</th></tr>
  <tr bgcolor="{{job.color}}"><td><a href="{% url 'machine:job'  job.id %}">{{ job.id }}</a>
                              <td><a href="{% url 'machine:uid_view' job.uid %}" >{{ job.uid }}</td>           
	                      <td><a href="{% url 'machine:uid_view' job.uid %}" >{{ job.user }}</td>
                              <td><a href="{% url 'machine:project_view' job.project %}">{{ job.project }}</td>
                              <td><a href="{% url 'machine:exe_view' job.exe %}" >{{ job.exe }}</td>
                              <td align=right>{{ job.start_time }}</td>
                              <td align=right>{{ job.end_time }}</td>
                              <td align=right>{{ job.run_time }}</td>
                              <td align=right>{{ job.requested_time }}</td>
                              <td align=right>{{ job.queue }}</td>
                              <td align=right>{{ job.name }}</td>
                              <td align=right>{{ job.status }}</td>
                              <td align=right>{{ job.wayness }}</td>
                              <td align=right>{{ job.cores }}</td>
                              <td align=right>{{ job.nodes }}</td>
                              <td align=right>{{ job.threads }}</td></tr>
 </table>
</p>

<p>
<table border="0" align="top" cellpadding="0" cellspacing="0" style="margin-right:30px;width:60%;">
   <tr><th align=left>Executable Path     </th><td>{{job.exec_path}}</td></tr>
   <tr><th align=left>Working Path        </th><td>{{job.cwd}}      </td></tr>
   <tr><th align=left>Links to Splunk Logs</th><td><a href={{ client_url }}>Client Logs</a> <a href={{ server_url }}>Server Logs</a></td></tr>
</table>
</p>
<p>
<table border="0" align="left" cellpadding="1" cellspacing="0" style="border:1px solid {{ job.color }};margin-right:30px;width:30%;">
  <tr><th>Test</th><th>Measured</th><th>Threshold</th><th>Result</th></tr>
  {% for key,val in testinfo_dict.items %}
    <tr align=center><th>{{ key }}</th><td>{{ val.0|stringformat:"0.2e" }}</td><td>{{ val.1|stringformat:"0.2e" }}</td><td>{{ val.2 }}</td></tr>
  {% endfor %}
</table>

<table border="0" align="left" cellpadding="0" cellspacing="0" style="width:30%;">
   <tr><th>Runtime Objects</th></tr>
   {% for lib in job.libraries_set.all %}
     <tr><td align=left>{{ lib }}</td></tr>
   {% endfor %}
</table>

<table border="0" align="left" cellpadding="0" cellspacing="0" style="width:30%;">
   <tr><th>Modules Loaded at Runtime</th></tr>
   {% for obj in job.libraries_set.all %}
     <tr><td align=left>{{ obj.module_name }}</td></tr>
   {% endfor %}
</table>
</p>

<p>
  <table style="width=100%;">
    <center><tr><td><hr></td></tr>
    <tr><td>Snapshot Plots</td></tr>
    <tr><td><img src="{% url 'machine:master_plot' job.id %}" alt="job less than time resolution" width="auto"/></td>
	<td><img src="{% url 'machine:heat_map' job.id %}" alt="heat map failed" width="auto"/></td>
  </table>
</p>


<p>
<h2>Choose Type Name below to access plots and raw counts of Performance Events</h2>
    <table border="1" cellpadding="5" style="font-family:arial">
      <tr><th>Type Name</th><th>Recorded Performance Events</th></tr>
         {% for type_name, schema in type_list %}
            <tr><td><a href="{{ type_name }}/">{{ type_name }}</a></td><td>{{ schema }}</td></tr>
         {% endfor %}
    </table>

{% else %}
    <h1>Job not found</h1>
{% endif %}
</p>

<center><h2>System View</h2></center>
<p>
<img src="{% url 'machine:sys_plot' job.id %}" alt="sys plot failed" align="left"/> 
</p>

</body>
</html>
