<html>
<head>
    <title>TACC: Job details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!----    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">---->
    <link rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    .navbar-brand{
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin: auto;
    }
    </style>
</head>

<body>

  <div class="container-fluid">

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header"><a href="https://www.tacc.utexas.edu"> <img src="/media/TACC_logo.png" style="max-width:50%;"/></a></div>
      <center><a href="/machine/">TACC Stats Home</a></center>
      <a><form class="navbar-form navbar-right" action="{% url 'machine:search' %}" method="get" role="search"> 
	  <div class="form-group">
	    <input type="text" class="form-control" name ="jobid" placeholder="Job ID">
	  </div>
	  <button type="submit" class="btn btn-default">find job</button>
	</form>
      </a>      
</ul>
</nav>


{% if job %}
   <h2>Job Detail</h2>
<p>
 <table class="table table-condensed table-bordered">
  <thead>
    <th>Job ID</th><th>UID</th><th>user</th><th>project</th><th>executable</th><th>start time</th><th>end time</th>
      <th>run time (s)</th><th>requested time (s)</th><th>queue</th><th>name</th><th>status</th><th>wayness</th><th>cores</th><th>nodes</th><th>threads</th>
  </thead>
  <tbody>
    <tr bgcolor="{{job.color}}"><td><a href="{% url 'machine:job'  job.id %}">{{ job.id }}</a></td>
      <td><a href="{% url 'machine:uid_view' job.uid %}" >{{ job.uid }}</td>           
      <td><a href="{% url 'machine:uid_view' job.uid %}" >{{ job.user }}</td>
      <td><a href="{% url 'machine:project_view' job.project %}">{{ job.project }}</td>
      <td><a href="{% url 'machine:exe_view' job.exe %}" >{{ job.exe }}</td>
      <td align=right>{{ job.start_time }}</td>
      <td align=right>{{ job.end_time }}</td>
      <td align=right>{{ job.run_time }}</td>
      <td align=right>{{ job.requested_time }}</td>
      <td align=right>{{ job.queue }}</td>
      <td align=right>{{ job.name }}</td>
      <td align=right>{{ job.status }}</td>
      <td align=right>{{ job.wayness }}</td>
      <td align=right>{{ job.cores }}</td>
      <td align=right>{{ job.nodes }}</td>
      <td align=right>{{ job.threads }}</td></tr>
  </tbody>
 </table>
 
<div class="row">
  <div class="col-sm-2">Executable Path</div><div class="col-sm-10">{{job.exec_path}}</div>      
  <div class="col-sm-2">Working Directory</div><div class="col-sm-10">{{job.cwd}}</div>
  <div class="col-sm-2">Links to Splunk Logs</div><div class="col-sm-10"><a href={{ client_url }}>Client Logs</a> <a href={{ server_url }}>Server Logs</a></div>
</div>

<p> <h3> Processes Alive During Job </h3>
{% for proc in proc_list %} {{ proc }} {% endfor %}
</p>
<hr>
</br>
<div class="row">
  <div class="col-sm-5">
    <table class="table table-condensed table-bordered" style="max-width:30%;">
      <thead><th>Test</th><th>Measured</th><th>Threshold</th><th>Result</th></thead>
      <tbody>
	{% for key,val in testinfo_dict.items %}
	<tr align=center><th>{{ key }}</th><td>{{ val.0|stringformat:"0.1e" }}</td><td>{{ val.1|stringformat:"0.1e" }}</td><td>{{ val.2 }}</td></tr>
	{% endfor %}	
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <table style="max-width:30%;">
      <tr><th>Modules Loaded</th></tr>
      {% for obj in job.libraries_set.all %}
      <tr><td align=left>{{ obj.module_name }}</td></tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-sm-4">
    <table style="max-width:30%;">
      <tr><th>Objects linked</th></tr>
      {% for lib in job.libraries_set.all %}
      <tr><td align=left>{{ lib }}</td></tr>
      {% endfor %}
    </table>
  </div>
</div>

</br>

<hr>
<p><center>
<h3>Snapshot Plots</h3>
<table>
  <tr>
    <td><div id="dv01">
      <img src="{% url 'machine:master_plot' job.id %}" alt="job less than time resolution" style="max-width:100%;"/></div>
    </td>
    <td><div id="dv02">
    <img src="{% url 'machine:heat_map' job.id %}" alt="heat map failed" style="max-width:100%"/>
    </td></div>
  <tr>
</table>
</center></p>

<center>
<h3>Choose Type Name below to access plots and counts of Performance Events</h3>
</center>
    <table class="table table-condensed table-bordered" style="margin-right:30px;width:100%;">
      <tr><th>Type Name</th><th>Recorded Performance Events</th></tr>
         {% for type_name, schema in type_list %}
            <tr><td><a href="{{ type_name }}/">{{ type_name }}</a></td><td style="text-align:left">{{ schema }}</td></tr>
         {% endfor %}
    </table>

{% else %}
    <h1>Job not found</h1>
{% endif %}

<center><h3>System View</h3></center>
<p>
<img src="{% url 'machine:sys_plot' job.id %}" alt="sys plot failed" align="left" style="max-width:100%;"/> 
</p>

</body>
</html>
