{% extends "tacc_stats_site/base.html" %}
{% block content %}

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
<script>
webshims.setOptions('forms-ext', {types: 'date'});
webshims.polyfill('forms forms-ext');
$.webshims.formcfg = {
en: {
    dFormat: '-',
    dateSigns: '-',
    patterns: {
        d: "yy-mm-dd"
    }
}
};
</script>

<div class="row">
  <div class="col-md-offset-3 col-md-4">
    <center>   
      <font size="8" color="#002868"> TACC</font> <font size="8" color="#bf0a30"> Stats
      </font> 
      <p>
	a job-level resource usage monitoring tool
      </p>
    </center>
  </div>
</div>

{% if error %}
   <p style="color: red;">Requested search failed.</p>
{% endif %}
<hr/>

<form action="{% url 'machine:search' %}" method="get">

<h4>Search for jobs on multiple fields </h4>
</br>
<div class="row">
  <div class="col-md-1"><label>Start Date</label></div>
  <div class="col-md-1"></div>
  <div class="col-md-2"><input type="date" class="form-control input-sm" name="date__gte"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"><label>End Date</label></div>
  <div class="col-md-2"><input type="date" class="form-control input-sm" name="date__lte"></div>
</div>
</br>
<div class="row">
    <div class="col-md-2"><label for="uid">UID</label></div>
    <div class="col-md-2"><input type="text"  class="form-control input-sm" name="uid"></div>
</div>
<div class="row">
    <div class="col-md-2"><label for="uid">User Name</label></div>
    <div class="col-md-2"><input type="text" class="form-control input-sm" name="user"></div>
</div>
<div class="row">
    <div class="col-md-2"><label for="uid">Project</label></div>
    <div class="col-md-2"><input type="text" class="form-control input-sm" name="project__icontains"></div>
</div>
<div class="row">
    <div class="col-md-2"><label for="uid">Executable</label></div>
    <div class="col-md-2"><input type="text" class="form-control input-sm" name="exe__icontains"></div>
</div>
<div class="row">
    <div class="col-md-2"><label for="uid">Process</label></div>
    <div class="col-md-2"><input type="text" class="form-control input-sm" name="proc__name__icontains"></div>
</div>
<div class="row">
    <div class="col-md-2"><label for="uid">Queue</label></div>
    <div class="col-md-2"><input type="text" class="form-control input-sm" name="queue"></div>
</div>
<br/>
<div class="row">
    <div class="col-md-2"><label for="uid">Search field</label></div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" name="opt_field1">
        <input type="text" class="form-control input-sm" name="opt_field2">
        <input type="text" class="form-control input-sm" name="opt_field3">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><label for="uid">Value</label></div>
    <div class="col-md-2">
        <input type="text" class="form-control input-sm" name="value1">
        <input type="text" class="form-control input-sm" name="value2">
        <input type="text" class="form-control input-sm" name="value3">
    </div>
</div>
<br/>

<button type="submit" class="btn btn-default">Search</button>
</form>


</div>
<hr>

<div class="table-responsive">
  <table class="table table-condensed table-bordered" style="max-width=75%">
    <thead><font size="5" color="#002868">Top 10 Lustre jobs in past 5 days: JobID(Open/Close IOPS)</font></thead>
    {% for key,values in md_job_list.items %}
    <tr><td><a href="{% url 'machine:user_view' key %}"> {{ key }}</a> </td>
      {% for v,d in values %} 
      <td><a href="{% url 'machine:job' v %}">{{ v }}</a>({{ d|stringformat:"0.1f" }})</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>

<div class="container-fluid">

<h4>View all jobs for a given date </h4>
{% if date_list %}

<nav class="navbar navbar-default" role="navigation">

{% for month, dates in date_list %}
<ul class="pagination">
   <li><a href="/machine/date/{{month}}">{{month}}</a></li>
   {% for date in dates %}
     <li><a href="/machine/date/{{date.0}}">{{date.1}}</a></li>
   {% endfor %}
</ul>
{% endfor %}

</nav>

{% else %}
    <p> No job data available </p>
{% endif %}   
</div>

{% endblock %}
