{% extends "tacc_stats_site/base.html" %}
{% block content %}

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
<script>
webshims.setOptions('forms-ext', {types: 'date'});
webshims.polyfill('forms forms-ext');
$.webshims.formcfg = {
en: {
    dFormat: '-',
    dateSigns: '-',
    patterns: {
        d: "yy-mm-dd"
    }
}
};
</script>

<div class="row">
  <div class="col-md-offset-3 col-md-4">
    <center>   
      <font size="8" color="#002868"> TACC</font> <font size="8" color="#bf0a30"> Stats
      </font> 
      <p>
	a job-level resource usage monitoring tool
      </p>
    </center>
  </div>
</div>

{% if error %}
   <p style="color: red;">Requested search failed.</p>
{% endif %}
<hr/>

<h4> Search fields are combined </h4>
<form id="search" action="{% url 'machine:search' %}" method="get">
<!-----{% csrf_token %}----->
</br>
  <div class="row">
    <div class="col-md-1"><label>Start Date</label></div>
    <div class="col-md-1"></div>
    <div class="col-md-2"><input type="date" class="form-control input-sm" name="end_time__gte"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><label>End Date</label></div>
    <div class="col-md-2"><input type="date" class="form-control input-sm" name="end_time__lte"></div>
  </div>

</br>

  <div class="row">
    <div class="col-md-2"><label for="host">Host</label></div>
    <div class="col-md-2"><input type="text" class="form-control input-sm" name="host"></div>
  </div>

</br>

  <div class="row">
    <div class="col-md-2"><label for="username">Username</label></div>
    <div class="col-md-2"><input type="text" class="form-control input-sm" name="username"></div>
  </div>
  <div class="row">
    <div class="col-md-2"><label for="account">Account</label></div>
    <div class="col-md-2"><input type="text" class="form-control input-sm" name="account__icontains"></div>
  </div>


  <div class="row">    
    <div class="col-md-2"><label for="State">State</label></div>
    <div class="col-md-2 btn-group" data-toggle="buttons" aria-label="State">
      <select type="text" id="state" name="state">
	{% for state in choice.state.field.choices %}
	<option>{{ state.0 }}</option>
	{% endfor %}
      </select>
    </div>
  </div>

  <div class="row">    
    <div class="col-md-2"><label for="Queue">Queue</label></div>
    <div class="col-md-2 btn-group" data-toggle="buttons" aria-label="Queue">
      <select type="text" id="queue" name="queue">
	{% for queue in choice.queue.field.choices %}
	<option>{{ queue.0 }}</option>
	{% endfor %}
      </select>
    </div>
  </div>

</br>

<h4>Search on Resources</h4>

<div class="row">
    <div class="col-md-2"><label for="runtime">Runtime</label></div>
    <div class="col-md-1"><input id="runtime" type="text" class="form-control input-sm" name="runtime__gte" placeholder="min seconds"></div>
    <div class="col-md-1"><input id="runtime" type="text" class="form-control input-sm" name="runtime__lte" placeholder="max seconds"></div>
</div>
<div class="row">
    <div class="col-md-2"><label for="nodes">Nodes</label></div>
    <div class="col-md-1"><input id="nodes" type="text" class="form-control input-sm" name="nhosts__gte" placeholder="min nodes"></div>
    <div class="col-md-1"><input id="nodes" type="text" class="form-control input-sm" name="nhosts__lte" placeholder="max nodes"></div>
</div>
<div class="row">
    <div class="col-md-2"><label for="runtime">Node-hrs</label></div>
    <div class="col-md-1"><input type="text" class="form-control input-sm" name="node_hrs__gte" placeholder="min nodes-hrs"></div>
    <div class="col-md-1"><input type="text" class="form-control input-sm" name="node_hrs__lte" placeholder="max node-hrs"></div>
</div>


<br/>


 <h4>Search on Derived Metrics</h4>

<div class="row">
    {% for metric in metrics %}
    <div class="col-md-2"><label for="{{ metric.metric }}">{{ metric.metric }}</label></div>
    <div class="col-md-1">
        <input id="{{ metric.metric }}" type="text" class="form-control input-sm" name="metrics_{{ metric.metric }}__gte" placeholder="Min {{ metric.units }}">
    </div>
    <div class="col-md-1">
        <input id="{{ metric.metric }}" type="text" class="form-control input-sm" name="metrics_{{ metric.metric }}__lte" placeholder="Max {{ metric.units }}">
    </div>
    {% endfor %}
</div>
<br/>

<button id="submit" type="submit" class="btn btn-default">Search</button>
</form>

</div>
<hr>

<div class="container-fluid">

<h4>List all jobs for a given date </h4>
{% if date_list %}

<nav class="navbar navbar-default" role="navigation">

{% for month, dates in date_list %}
<ul class="pagination">
   <li><a href="/machine/date/{{month}}">{{month}}</a></li>
   {% for date in dates %}
     <li><a href="/machine/date/{{date.0}}">{{date.1}}</a></li>
   {% endfor %}
</ul>
{% endfor %}

</nav>

{% else %}
    <p> No job data available </p>
{% endif %}   
</div>


<script>
jQuery(document).ready(function($){
  
$("search").submit(function() {
$(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
return true; // ensure form still submits
});

$( "search" ).find( ":input" ).prop( "disabled", false );

}
</script>


{% endblock %}
