<html>
<head>
    <title>TACC Stats</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!---    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> --->
    <link rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    .navbar-brand{
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        margin: auto;
    }
    </style>
</head>

<body>
<div class="container">
<img style="float:right" src="{{MEDIA_URL}}TACC_logo.png" />
<p>
<font size="8" color="#002868"> TACC</font> <font size="8" color="#bf0a30"> Stats</font>
</p>
<p>
<font color="ffffff" face="comic sans ms" >A Job-level HPC Monitoring Application</font>
</p>
<font size="4">
<p>Choose a System from Below to Find and Explore Jobs<p/>
<hr>
  
  <img src="{{MEDIA_URL}}machine.jpg" style="max-width=30%;"/>
  <a href="machine/">Machine</a>

</font>
</div>

</body>
</html>                                                                         
