<html>
<head>
    <title>TACC Stats</title>
</head>
<body bgcolor="#BDBDBD">
<img style="float:right" src="{{MEDIA_URL}}TACC_logo.png" />
<p>
<font size="8" color="#002868"> TACC</font> <font size="8" color="#bf0a30"> Stats</font>
</p>
<p>
<font color="ffffff" face="comic sans ms" >A Job-level HPC Monitoring Application</font>
</p>
<font size="4">
<p>Choose a System from Below to Find and Explore Jobs<p/>
<hr>

<p>
<table border="1" cellpadding="5">
     <th><a href="machine/">Machine</th>
     <img src="{{MEDIA_URL}}machine.jpg" />
</table>
</p>
</font>
</body>
</html>                                                                         
