<html>
<head>
    <title>TACC Stats: Job details</title>
</head>
<body>
{% if job %}
    <h1>Job ID {{ job.id }}</h1>

    <table>
      <tr>
	<td>
	  <div id="dv01"> 
	    <img src="{% url 'stats:master_plot' job.id %}" alt="job less than time resolution"/> 
	  </div>
	</td>
	<td>
	  <div id="dv02">
	    <h2> Hosts </h2>
	    <table border="1" cellpadding="5"
		   {% for host_name in host_list %} 
	 	   <tr><th>{{host_name}}</th></tr>
	           {% endfor %}
            </table>
           </div>
        </td>
       </tr>
     </table>

   <h2> Schema Summary </h2>
    <table border="1" cellpadding="5"
      <tr><th>Type Name</th><th>Recorded Performance Events</th></tr>
         {% for type_name, schema in type_list %}
            <tr><th><a href="{{ type_name }}/">{{ type_name }}</a></th><<th>{{ schema }}</th></tr>
         {% endfor %}
    </table>

{% else %}
    <h1>Job not found</h1>
{% endif %}
</body>
</html>
