<html>
<head>
    <title>TACC Stats</title>
</head>
<body>

{% if date %}
<h1>For date: {{ date }}</h1>
<h2> Charts at a glance </h2>
<img src="{% url 'stampede:date_summary' date %}" />
{% endif %}

{% if uid %}
<h1>For user: {{ uid }}</h1>
<h2> Charts at a glance </h2>
<img src="{% url 'stampede:uid_summary' uid %}" />
{% endif %}

{% if user %}
<h1>For user: {{ user }}</h1>
<h2> Charts at a glance </h2>
<img src="{% url 'stampede:user_summary' user %}" />
{% endif %}

{% if project %}
<h1>For project: {{ project }}</h1>
<h2> Charts at a glance </h2>
<img src="{% url 'stampede:project_summary' project %}" />
{% endif %}

{% if exe %}
<h1>For exe: {{ exe }}</h1>
<h2> Charts at a glance </h2>
<img src="{% url 'stampede:exe_summary' exe %}" />
{% endif %}
<h1># Jobs over 1 mn in run time = {{nj}}</h1>
<hr>

{% if job_list %}
    <h1>Job Listing</h1>
    <table border="1" cellpadding="5">
        <tr>
	  <th> Job ID </th>
	  <th> UID </th>
	  <th> user </th>	  
	  <th> project </th>
	  <th> executable </th>
	  <th> start time </th>
	  <th> end time </th>
	  <th> run time (s)</th>
	  <th> queue </th>
	  <th> name </th>
	  <th> status </th>	    
	  <th> cores </th>
	  <th> nodes </th>
	</tr>
    {% for job in job_list %}
        <tr bgcolor="{{job.color}}">
            <td><a href="{% url 'stampede:job'  job.id %}">{{ job.id }}</a>
            <td><a href="{% url 'stampede:uid_view' job.uid %}" >{{ job.uid }}</td>
            <td><a href="{% url 'stampede:uid_view' job.uid %}" >{{ job.user }}</td> 
           <td align=right><a href="{% url 'stampede:project_view' job.project %}" >{{ job.project }}</td>
            <td align=right><a href="{% url 'stampede:exe_view' job.exe %}" >{{ job.exe }}</td>

            <td align=right>{{ job.start_time }}</td>
            <td align=right>{{ job.end_time }}</td>
            <td align=right>{{ job.run_time }}</td>
            <td align=right>{{ job.queue }}</td>
            <td align=right>{{ job.name }}</td>
            <td align=right>{{ job.status }}</td>
            <td align=right>{{ job.cores }}</td>
            <td align=right>{{ job.nodes }}</td>
        </tr>
    {% endfor %} 
    </table>
{% else %}
    <p>No jobs are available.</p>
{% endif %}

</body>
</html>
