{% extends "tacc_stats_site/base.html" %}

{% block content %}
{{var1}}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td><input type="username" class="form-control" id="username" placeholder="Enter Username" name="username"</td>
</tr>
<tr>
    <td><input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
