<html>
<head>
    <title>TACC Stats</title>
</head>
<body  bgcolor="#BDBDBD">
<p>
<font size="8" color="#002868"> TACC</font> <font size="8" color="#bf0a30"> Stats</font> 
<font color="ffffff" face="comic sans ms" >Lonestar</font>
</p>
<img style="float:right" src="/media/TACC_logo.png" />
<img style="float:right" src="/media/lonestar.jpg"/>

{% if error %}
   <p style="color: red;">Requested search failed.</p>
{% endif %}
<font size="4">
Search by Job ID
<form action="{% url 'lonestar:search' %}" method="get">
  <input type="text" name ="q">
  <input type="submit" value="Search">
</form>
<!---
Search by UID
<form action="{% url 'lonestar:search' %}" method="get">
  <input type="text" name ="u">
  <input type="submit" value="Search">
</form>
--->
Search by User Name
<form action="{% url 'lonestar:search' %}" method="get">
  <input type="text" name ="n">
  <input type="submit" value="Search">
</form>
Search by Project ID
<form action="{% url 'lonestar:search' %}" method="get">
  <input type="text" name ="p">
  <input type="submit" value="Search">
</form>
Search by Executable
<form action="{% url 'lonestar:search' %}" method="get">
  <input type="text" name ="x">
  <input type="submit" value="Search">
</form>

{% if date_list %}
 Browse Jobs by Completion Date
 <table border="1" cellpadding="5">
{% for month, dates in date_list.iteritems %}
   <tr><th>{{month}}</th>
   {% for date in dates %}
     <th><a href="date/{{date.0}}">{{date.1}}</th>
   {% endfor %}
{% endfor %}
</tr>
{% else %}
    <p> No job data available </p>
{% endif %}   
</font>
</body>
</html>
