[Unit]
Description=Job-level Tracking and Analysis Service

[Service]
Type=forking
User=root
PIDFile=/var/lock/tacc_stats
WorkingDirectory=/opt/tacc_statsd
ExecStart=/opt/tacc_statsd/tacc_stats -s localhost -q default -p 5672 -f 300
Restart=always
RestartSec=10
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
