<html>
<head>
    <title>TACC Stats Web: Job list</title>
</head>
<body>
{% if job_list %}
    <table border="1" cellpadding="5">
        <tr><th> ID </th><th> owner </th><th> time spent </th><th> memory used
        </th><th> work open </th><th> irq </th></tr>
    {% for job in job_list %}
        <tr bgcolor="{{job.color}}">
            <td><a href="job/{{ job.id }}/">{{ job.acct_id }}</a>
            <td>{{ job.owner }}</td>
            <td align=right>{{ job.runtime }}</td>
            <td align=right>{{ job.mem_MemUsed }}</td>
            <td align=right>{{ job.llite_open_work }}</td>
            <td align=right>{{ job.cpu_irq }}</td>
        </tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No jobs are available.</p>
{% endif %}
</body>
</html>
