<form action="/tacc_stats/search/" method="POST">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p><input type="submit" value="Submit"></p>
<form>

{% if job_list %}
    <table border="1" cellpadding="5">
        <tr><th> name </th><th> owner </th><th> hosts </th>
        <th> time spent </th><th> begin </th><th> memory used </th>
        <th> work open </th><th> irq </th></tr>
    {% for job in job_list %}
        <tr style="{{job.color}}">
            <td><a href="/tacc_stats/job/{{ job.id }}/">{{ job.acct_id }}</a>
            <td>{{ job.owner }}</td>
            <td align=right>{{ job.nr_hosts }}</td>
            <td align=right>{{ job.timespent }}</td>
            <td align=right>{{ job.start_time }}</td>
            <td align=right>{{ job.mem_MemUsed }}</td>
            <td align=right>{{ job.llite_open_work }}</td>
            <td align=right>{{ job.cpu_irq }}</td>
        </tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No jobs are available.</p>
{% endif %}
