<html>
<head>
    <title>TACC Lonestar: Job details</title>
</head>
<body>
{% if ls4job %}
   <h2> Job Summary    </h2>
 <table border="1" cellpadding="5">
        <tr>
	  <th> Job ID </th>
	  <th> user </th>
	  <th> project </th>
	  <th> executable </th>
	  <th> start time </th>
	  <th> end time </th>
	  <th> run time (s)</th>
	  <th> queue </th>
	  <th> name </th>
	  <th> status </th>	    
	  <th> cores </th>
	  <th> nodes </th>
	</tr>
        <tr bgcolor="{{ls4job.color}}">
	  <td><a href="{% url 'lonestar:job'  ls4job.id %}">{{ ls4job.id }}</a>
	  <td><a href="{% url 'lonestar:user_view' ls4job.user %}" >{{ ls4job.user }}</td>
          <td><a href="{% url 'lonestar:project_view' ls4job.project %}">{{ ls4job.project }}</td>
          <td><a href="{% url 'lonestar:exe_view' ls4job.exe %}" >{{ ls4job.exe }}</td>
          <td align=right>{{ ls4job.start_time }}</td>
          <td align=right>{{ ls4job.end_time }}</td>
          <td align=right>{{ ls4job.run_time }}</td>
          <td align=right>{{ ls4job.queue }}</td>
          <td align=right>{{ ls4job.name }}</td>
          <td align=right>{{ ls4job.status }}</td>
          <td align=right>{{ ls4job.cores }}</td>
          <td align=right>{{ ls4job.nodes }}</td>
        </tr>
   </table>
   <p><font size="5">Working Directory: {{ls4job.cwd}} </font></p>
   <hr>
<p><center>     <font size="6"> Snapshot Plots </font></p>
    <table>
      <tr>
	<td>
	  <div id="dv01"> 
	    <img src="{% url 'lonestar:master_plot' ls4job.id %}" alt="job less than time resolution"/> 
	  </div>
	</td>
	<td>
	  <div id="dv02">
              <img src="{% url 'lonestar:heat_map' ls4job.id %}" alt="heat map failed"/> 
           </div>
        </td>
     </table>
</center>
<hr>
<center><h2> Schema Summary: Choose Type Name below to access plots and counts of Performance Events. </h2></center>
    <table border="1" cellpadding="5"
      <tr><th>Type Name</th><th>Recorded Performance Events</th></tr>
         {% for type_name, schema in type_list %}
            <tr><td><a href="{{ type_name }}/">{{ type_name }}</a></td><<td>{{ schema }}</td></tr>
         {% endfor %}
    </table>

{% else %}
    <h1>Job not found</h1>
{% endif %}
</body>
</html>
