<html>
<head>
    <title>TACC Stampede: Job details</title>
</head>
<body>
{% if job %}
   <h2> Job Summary    </h2>
 <table border="1" cellpadding="5" style=font-family:"arial">
        <tr>
	  <th> Job ID </th>
	  <th> UID </th>
	  <th> user </th>
	  <th> project </th>
	  <th> executable </th>
	  <th> start time </th>
	  <th> end time </th>
	  <th> run time (s)</th>
	  <th> queue </th>
	  <th> name </th>
	  <th> status </th>
	  <th> wayness </th>
	  <th> cores </th>
	  <th> nodes </th>
	  <th> threads/task </th>
	  <th> HWM (GB on node) </th>
	</tr>
        <tr bgcolor="{{job.color}}">
	  <td><a href="{% url 'stampede:job'  job.id %}">{{ job.id }}</a>
	  <td><a href="{% url 'stampede:uid_view' job.uid %}" >{{ job.uid }}</td>           
	  <td><a href="{% url 'stampede:uid_view' job.uid %}" >{{ job.user }}</td>
          <td><a href="{% url 'stampede:project_view' job.project %}">{{ job.project }}</td>
          <td><a href="{% url 'stampede:exe_view' job.exe %}" >{{ job.exe }}</td>
          <td align=right>{{ job.start_time }}</td>
          <td align=right>{{ job.end_time }}</td>
          <td align=right>{{ job.run_time }}</td>
          <td align=right>{{ job.queue }}</td>
          <td align=right>{{ job.name }}</td>
          <td align=right>{{ job.status }}</td>
          <td align=right>{{ job.wayness }}</td>
          <td align=right>{{ job.cores }}</td>
          <td align=right>{{ job.nodes }}</td>
          <td align=right>{{ job.threads }}</td>
          <td align=right>{{ job.mem|stringformat:".3e" }}</td>
        </tr>
   </table>
   <p><font size="5">Working Directory: {{job.cwd}}</font></p><p> <a href={{ client_url }}> Client Logs</a>   <a href={{ server_url }}> Server Logs</a></p>
   <hr>
<p><center>     <font size="6"> Snapshot Plots </font></p>
    <table>
      <tr>
	<td>
	  <div id="dv01"> 
	    <img src="{% url 'stampede:master_plot' job.id %}" alt="job less than time resolution"/> 
	  </div>
	</td>
	<td>
	  <div id="dv02">
              <img src="{% url 'stampede:heat_map' job.id %}" alt="heat map failed"/> 
           </div>
        </td>
     </table>
</center>
<p>
<img src="{% url 'stampede:sys_plot' job.id %}" alt="sys plot failed" align="left"/> 
</p>
<hr>
<center><h2> Schema Summary: Choose Type Name below to access plots and counts of Performance Events. </h2></center>
    <table border="1" cellpadding="5"  style=font-family:"arial">
      <tr><th>Type Name</th><th>Recorded Performance Events</th></tr>
         {% for type_name, schema in type_list %}
            <tr><td><a href="{{ type_name }}/">{{ type_name }}</a></td><<td>{{ schema }}</td></tr>
         {% endfor %}
    </table>

{% else %}
    <h1>Job not found</h1>
{% endif %}
</body>
</html>
